<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = __('archive_a');
if (is_tag()) pageTitle = __('tag') + '：' + page.tag;
if (is_category()) pageTitle = __('categories') + '：' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
if (is_home()) pageTitle += ' - ' + config.title;
%>
<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="pageDescription">
    <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
        <!-- stylesheets list from config.yml -->
        <% theme.stylesheets.forEach(function(url) { %>
            <link rel="stylesheet" href="<%= url %>">
        <% }); %>
    <% } %>
</head>
<body>

<div class="loader">
    <div class="status">
        <img class="loader-logo" alt="loader" src="<%- url_for('/images/logo.png') %>">
        <div class="loading">loading, please wait ...</div>
        <img alt="loading" src="<%- url_for('/images/loading.gif') %>">
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="header fixed-header col-md-12 hidden-sm hidden-xs visible-md-block visible-lg-block ">
            <div class="main-container col-md-offset-2">
                <div class="menu-container ">
                    <ul class="menu-inner">
                        <% Object.keys(theme.menu).forEach(function(key) { %>
                            <li><a href="<%= theme.menu[key] %>"><%= key %></a></li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>

        <div class="header-logo-container col-md-12 hidden-sm hidden-xs visible-md-block visible-lg-block ">
            <div class="main-container">
                <div class="logo-container">
                    <a class="logo-link" href="<%- url_for() %>">
                        <img src="<%- url_for('/images/logo.png') %>">
                    </a>

                    <a href="<%- url_for() %>"><h1 class="web-title"><%= config.title %></h1></a>

                    <h2 class="web-subtitle"><%= config.subtitle %></h2>

                    <ul class="user-share-link">
                        <% if(theme.user.show === true) { %>
                            <% for(i in theme.user.links){ %>
                                <a href="<%= theme.user.links[i].url %>" target="_blank">
                                    <i class="fox <%= theme.user.links[i].icon %>"></i>
                                </a>
                            <% } %>
                        <% }; %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>

    <div class="main-container">
        <div class="row">
            <%- body %>
        </div>
    </div>

    <div class="bottom-outer">
        <div class="bottom-inner">
            <p>Site by <%= config.author %> using</p>
            <p id="busuanzi_container_site_uv">欢迎您，第<span id="busuanzi_value_site_uv"></span>位访客。</p>
            <p>Theme <a class="bottom-link" href="https://github.com/M-finder/hexo-theme-fox">fox</a> by <a
                        class="bottom-link" href="https://www.m-finder.com">M-finder</a> | Driven Hexo.</p>

        </div>
    </div>
</div>

<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
    <!-- scripts list from theme config.yml -->
    <% theme.scripts.forEach(function(url) { %>
        <script src="<%= url %>"></script>
    <% }); %>
<% } %>
</body>
</html>
