<article class="article-detail">
    <div class="col-md-6 col-sm-12 col-xs-12 content-inner col-md-offset-3">
        <h1 class="article-title">
            <%= page.title %>
        </h1>

        <div class="post-info-box">
            <time class="post-info post-time" datetime="<%= page.date.toJSON() %>"><%= __('created_at') %>：<%= date(page.date) %></time>
            <% if(theme.wordcount === true){ %>
            <span class="post-info"><%= __('word_count') %>：<%= wordcount(page.content) %></span>
            <span class="post-info"><%= __('min2read') %>：<%= min2read(page.content) %> <%= __('minute') %></span>
            <% } %>
        </div>

        <%- page.content %>
    </div>
    <div class="post-page-title">
        <div class="progress-title">
            You've read <span class="read-point">0</span>%
            <p class="progress"></p>
        </div>
        <%- toc(page.content) %>
    </div>
</article>
<%- paginator() %>
