<% if (page.posts.length > 0) { %>

    <% page.posts.sort('date', -1).limit(theme.article.number).each(function(post) { %>
        <div class="content-inner">
            <div class="article-title recent-article">
                <div class="recent-post-item">
                    <div class="article-cover" style="background-image: url('<%=post.cover || theme.cover%>')"></div>
                    <a class="article-title-link" href="<%= config.root + post.path %>">
                        <h1 class="article-title">
                            <span class="post-info post-time" datetime="<%= post.date.toJSON() %>"><%=date(post.date)%></span>
                            <%= post.title %>
                        </h1>
                    </a>
                </div>
            </div>
        </div>
    <% }); %>
<% } %>
